MS_TENANT_ID=4f4f1ed3-ce5b-4010-8791-4d2b0209dbec
MS_CLIENT_ID=7fc43a3a-9172-4a5f-ba82-9f269ceb488f
MS_CLIENT_SECRET=replace-with-secret-value
MS_CALENDAR_EMAIL=ns@iacy.com
CRM_BCC_EMAIL=crm@iacy.com
VITE_SUPABASE_URL=provided-by-bolt-database
VITE_SUPABASE_ANON_KEY=provided-by-bolt-database
ZOOM_URL=https://www.nikiskene.com/meetonline
TEAMS_FALLBACK_URL=https://www.nikiskene.com/meetonteams
